@import-normalize; /* bring in normalize.css styles */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&display=swap');

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
}

h1,
h2,
h3,
h4,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
}

.dashboard {
    max-width: 1440px;
    margin: 0 auto;
}
.myprojects {
    width: 1100px;
    margin: 0 auto;
}
